<!DOCTYPE html>
<html>

<head>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
  
    footer {
      padding: 0px 0px 0px 0px;
      background-color: black;
      margin: 0px;

      position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 

    }
    p {
      text-align: center;

    }
  </style>
</head>

<footer>

  <div class="container">
    <div style="color:#ffffff;" class="text-justify">
      Copyright &copy; 20222
  </div>
  </div>
</footer>

</html>
